.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #457b9d;
  border: 1px solid #457b9d;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #1d3557;
  border-color: #1d3557;
}
