@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #f1faee;
  color: #1d3557;
}

/* Palettes */
/* Red: #e63946 */
/* White: #f1faee */
/* LightBlue: #a8dadc */
/* Blue: #457b9d */
/* DarkBlue: #1d3557 */
